In [1]:
import pandas as pd
import dask.dataframe as dd

# daskを使用して重いデータを読み込む

In [2]:
ddf = dd.read_csv('../data/log2017_2.csv').compute()

ddf

  購入月   購入商品  性別   年代  購入金額
0  1月     水筒  男性  20代  2000
1  1月     水筒  男性  40代  1900
2  1月  フライパン  女性  20代  2100
3  1月     水筒  男性  30代  2100
4  1月      鍋  女性  40代  2200
5  1月  フライパン  女性  40代  3200
6  2月     水筒  女性  20代  2300
7  2月      鍋  男性  40代  1800
8  2月  フライパン  女性  30代  2900
9  2月     水筒  女性  30代  2800