In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')
df.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

## カラム名のみを抽出したデータフレームを作成

In [3]:
col_list = df.columns.tolist()

col_df = pd.DataFrame(col_list, columns=['col_name'])

col_df

         col_name
0        datetime
1               y
2            week
3         soldout
4            name
5            kcal
6         remarks
7           event
8          payday
9         weather
10  precipitation
11    temperature

In [4]:
col_df.T

,0,1,2,3,4,5,6,7,8,9,10,11
col_name,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature