In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('all_text_wakatigaki.csv',encoding='utf-8')
df.head()

,surface,yomi,original,type,katsuyoukei,katsuyougata,内容
0,neologd,ネオログディー,NEologd,名詞-固有名詞-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
1,_,_,_,記号-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
2,tagger,タガー,tagger,名詞-固有名詞-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
3,.,.,.,記号-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
4,parse,パース,Parse,名詞-固有名詞-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...

In [3]:
cnt_df = df['original'].value_counts().reset_index().rename(columns={'index':'word', 'original':'度数'})
display(cnt_df.head(), cnt_df.tail())

  word  度数
0   する   7
1    で   5
2    の   5
3    、   5
4    は   5

      word  度数
61      なる   1
62  tagger   1
63     まずは   1
64       各   1
65     できる   1

## 度数分布表の作成

In [4]:
cnt_df['累積度数'] = cnt_df['度数'].cumsum()

cnt_df['相対度数'] = round((cnt_df['度数'] / sum(cnt_df['度数'])), 2)

cnt_df['累積相対度数'] = round((cnt_df['累積度数'] / sum(cnt_df['度数'])), 2)

display(cnt_df.head(), cnt_df.tail())

  word  度数  累積度数  相対度数  累積相対度数
0   する   7     7  0.05    0.05
1    で   5    12  0.04    0.09
2    の   5    17  0.04    0.13
3    、   5    22  0.04    0.17
4    は   5    27  0.04    0.21

      word  度数  累積度数  相対度数  累積相対度数
61      なる   1   126  0.01    0.97
62  tagger   1   127  0.01    0.98
63     まずは   1   128  0.01    0.98
64       各   1   129  0.01    0.99
65     できる   1   130  0.01    1.00