In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'b': np.random.randint(low=0, high=2, size=20),
    's': np.random.randint(low=0, high=2, size=20)
}).astype(dtype='object')

df

    b  s
0   1  1
1   1  1
2   0  1
3   0  1
4   1  1
5   1  0
6   0  0
7   0  0
8   1  0
9   1  0
10  1  1
11  1  0
12  0  0
13  0  1
14  0  1
15  1  1
16  0  1
17  0  0
18  0  0
19  1  1

In [3]:
def add_judge_col(df, col1, col2, new_col_name):
    '''
    関数内容
     ・指定カラムの値がどちらも「0」であるなら0を、そうでなければ1を付与した新規カラムを作成する関数
     
    Input
     ・df：データフレーム
     ・col1：「0」or「1」2つの値が含まれるcol2とは別のカラム
     ・col2：「0」or「1」2つの値が含まれるcol1とは別のカラム
     ・new_col_name：新規カラム名
     
    Return
     ・指定カラムの値がどちらも「0」であるなら0を、そうでなければ1を付与した新規カラムが追加されたデータフレーム
     
    関数使用方法
     ・df1 = add_judge_col(df, 'b', 's', 'is_0_flag')
    '''
    
    df[new_col_name] = np.where(((df[col1] == 0) & (df[col2] == 0)), 0, 1)
    # numpyでは文字列型を使うことができないのでここで文字列型に変換
    df[new_col_name] = df[new_col_name].astype(str)
    
    return df

In [4]:
df1 = add_judge_col(df, 'b', 's', 'is_0_flag')
df1

    b  s is_0_flag
0   1  1         1
1   1  1         1
2   0  1         1
3   0  1         1
4   1  1         1
5   1  0         1
6   0  0         0
7   0  0         0
8   1  0         1
9   1  0         1
10  1  1         1
11  1  0         1
12  0  0         0
13  0  1         1
14  0  1         1
15  1  1         1
16  0  1         1
17  0  0         0
18  0  0         0
19  1  1         1

In [5]:
# 確認
df1[df1['is_0_flag']=='0']

    b  s is_0_flag
6   0  0         0
7   0  0         0
12  0  0         0
17  0  0         0
18  0  0         0