In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('横持ちデータ 201911.xlsx')

df

     科目名   a社  b社    c社  d社
0    売掛金  100  10  1000   1
1    買掛金  200  20  2000   2
2  貸倒引当金  300  30  3000   3
3   貸倒損失  400  40  4000   4

# 横持ちデータから縦持ちデータへの変換


id_vars：基本軸となるカラムを指定

var_name：変数(Variable)となるカラムに名前を新規でつける

value_name：値(Value)となるカラムに名前を新規でつける
    
参考：https://qiita.com/ishida330/items/922caa7acb73c1540e28

In [3]:
tate_df = pd.melt(df, id_vars=['科目名'], var_name='企業名', value_name='金額')

tate_df

      科目名 企業名    金額
0     売掛金  a社   100
1     買掛金  a社   200
2   貸倒引当金  a社   300
3    貸倒損失  a社   400
4     売掛金  b社    10
5     買掛金  b社    20
6   貸倒引当金  b社    30
7    貸倒損失  b社    40
8     売掛金  c社  1000
9     買掛金  c社  2000
10  貸倒引当金  c社  3000
11   貸倒損失  c社  4000
12    売掛金  d社     1
13    買掛金  d社     2
14  貸倒引当金  d社     3
15   貸倒損失  d社     4

## 縦持ちデータから横持ちデータへの変換

In [4]:
yoko_df = pd.pivot_table(tate_df, index='科目名', columns='企業名', values='金額', aggfunc=sum)

yoko_df

企業名     a社  b社    c社  d社
科目名
売掛金    100  10  1000   1
買掛金    200  20  2000   2
貸倒引当金  300  30  3000   3
貸倒損失   400  40  4000   4

In [5]:
# データフレームの整形 

yoko_df = yoko_df.reset_index()
# ピボットテーブル後index名を削除
yoko_df.columns.name = None

yoko_df

     科目名   a社  b社    c社  d社
0    売掛金  100  10  1000   1
1    買掛金  200  20  2000   2
2  貸倒引当金  300  30  3000   3
3   貸倒損失  400  40  4000   4