In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')
df.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

In [3]:
df.isnull().sum()

datetime           0
y                  0
week               0
soldout            0
name               0
kcal              41
remarks          186
event            193
payday           197
weather            0
precipitation      0
temperature        0
dtype: int64

## [kcal]カラムが欠損値のレコードを削除

In [4]:
df1 = df.dropna(subset=['kcal'])
df1.isnull().sum()

datetime           0
y                  0
week               0
soldout            0
name               0
kcal               0
remarks          158
event            155
payday           158
weather            0
precipitation      0
temperature        0
dtype: int64

In [5]:
df1.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
28,2014-1-7,131,火,0,カレー入りソーセージカツ,404.0,NaN,NaN,NaN,快晴,--,7.3
29,2014-1-8,128,水,0,豚肉の生姜焼,462.0,NaN,NaN,NaN,曇,--,9.8
30,2014-1-9,129,木,1,鶏チリソース,435.0,NaN,NaN,NaN,曇,--,10.9
31,2014-1-10,87,金,0,手作りロースカツ,440.0,NaN,NaN,1.0,快晴,--,5.1
32,2014-1-14,129,火,1,鶏の照り焼きマスタード,376.0,NaN,NaN,NaN,晴れ,--,5.8

## [kcal]&[payday]カラムが欠損値のレコードを削除

In [6]:
df2 = df.dropna(subset=['kcal', 'payday'])
df2.isnull().sum()

datetime         0
y                0
week             0
soldout          0
name             0
kcal             0
remarks          8
event            8
payday           0
weather          0
precipitation    0
temperature      0
dtype: int64

In [7]:
df2

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
31,2014-1-10,87,金,0,手作りロースカツ,440.0,NaN,NaN,1.0,快晴,--,5.1
51,2014-2-10,137,月,0,鶏の唐揚げおろしソース,423.0,NaN,NaN,1.0,曇,--,7.8
70,2014-3-10,123,月,0,海老クリーミ―クノーデル,385.0,NaN,NaN,1.0,曇,--,7.6
92,2014-4-10,87,木,0,鶏の唐揚げおろしソース,362.0,NaN,NaN,1.0,晴れ,--,21.3
110,2014-5-9,58,金,1,手作りチキンカツ,434.0,NaN,NaN,1.0,晴れ,--,23.4
132,2014-6-10,56,火,0,カレイ唐揚げ野菜餡かけ,426.0,NaN,NaN,1.0,曇,--,25.5
154,2014-7-10,48,木,0,プルコギ,386.0,NaN,NaN,1.0,曇,--,28.8
194,2014-9-10,54,水,0,ぶりレモンペッパー焼き,450.0,NaN,NaN,1.0,曇,0,25.0