In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')
df.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

In [3]:
# 恣意的に[week]カラムをインデックスにする
df1 = df.set_index('week')
df1.head()

,datetime,y,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
week,,,,,,,,,,,
月,2013-11-18,90,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
火,2013-11-19,101,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
水,2013-11-20,118,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
木,2013-11-21,120,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
金,2013-11-22,130,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

## 特定のインデックスを削除

In [4]:
# [月]、[火]を削除する
df2 = df1.drop(['月', '火'], axis=0)
df2.head()

,datetime,y,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
week,,,,,,,,,,,
水,2013-11-20,118,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
木,2013-11-21,120,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
金,2013-11-22,130,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1
水,2013-11-27,140,1,ボローニャ風カツ,NaN,NaN,NaN,NaN,晴れ,--,14.7
木,2013-11-28,151,0,ハンバーグ,NaN,NaN,NaN,NaN,薄曇,--,17.7

### 特定のカラムを削除

In [5]:
df3 = df2.drop(['kcal', 'remarks'], axis=1)
df3.head()

,datetime,y,soldout,name,event,payday,weather,precipitation,temperature
week,,,,,,,,,
水,2013-11-20,118,0,白身魚唐揚げ野菜あん,NaN,NaN,快晴,--,15.5
木,2013-11-21,120,1,若鶏ピリ辛焼,NaN,NaN,快晴,--,15.2
金,2013-11-22,130,1,ビッグメンチカツ,NaN,NaN,快晴,--,16.1
水,2013-11-27,140,1,ボローニャ風カツ,NaN,NaN,晴れ,--,14.7
木,2013-11-28,151,0,ハンバーグ,NaN,NaN,薄曇,--,17.7